* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ced8ff;
}

:root {
  --primary-color: #1a73e8; /* Example primary color */
  --background-color: linear-gradient(
    90deg,
    rgba(96, 163, 86, 1) 22%,
    rgba(115, 121, 9, 1) 49%,
    rgba(121, 9, 36, 1) 87%
  );
  --text-color: #fff; /* Example text color */
  /* Add more color variables as needed */
  --menu-color: rgba(121, 9, 36, 1);
}

.dark {
  --primary-color: #0d47a1; /* Dark mode primary color */
  --background-color: radial-gradient(
    circle,
    rgba(121, 9, 36, 1) 22%,
    rgba(115, 121, 9, 1) 49%,
    rgba(96, 163, 86, 1) 87%
  ); /* Dark mode background color */
  --text-color: #222; /* Dark mode text color */
  /* Update more color variables for dark mode as needed */
  --menu-color: rgba(96, 163, 86, 1);
}

.dark.container {
  background: #2222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}
